{% extends 'layouts/admin_base.html' %}
{% from 'macros/page_shell.html' import page_shell %}
{% from 'components/empty_state.html' import empty_state %}

{% block title %}Canvas Not Found{% endblock %}

{% block content %}
<div class="flex-1 overflow-auto">
  <div class="p-6 space-y-6">
    {{ page_shell(
        title='Business Model Canvas',
        breadcrumb=[('Business Model Canvas', url_for('business_model.index')), ('Not found', None)]
    ) }}
    {{ empty_state(
        icon='search-x',
        title='Canvas not found',
        description='Business Model Canvas #' ~ canvas_id ~ ' does not exist or you do not have access to it.',
        cta_text='Back to Business Model Canvas',
        cta_href=url_for('business_model.index'),
        cta_icon='arrow-left'
    ) }}
  </div>
</div>
{% endblock %}
